body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f6f6;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
}

.hero {
    background-color: #f5f5dc;
    text-align: left;
    /*padding: 50px 100px;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero img {
    max-width: 40%;
    height: auto;
    padding: 0;
    margin-right: 60px;
}

.hero-text {
    max-width: 60%;
    margin-left: 150px;
}

.hero h1 {
    font-size: 36px;
    margin: 0;
    color: #333333;
}

.hero p {
    font-size: 18px;
    color: #666666;
}

.hero button {
    background-color: #a3a36a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 46px 60px 46px;
    background-color: #f6f6f6;
}

.category {
    text-align: center;
    flex: 1;
}

.category img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.category span {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.featured {
    background-color: #ffffff;
    padding: 50px 99px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.featured_2 {
    background-color: #ffffff;
    padding: 1px 20px;
    display: flex;
    justify-content: center;
}

.featured_3 {
    margin-left: 150px;
}

.featured h2 {
    text-align: center;
    font-size: 24px;
    color: #333333;
    width: 100%;
}

.product {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product p {
    font-size: 14px;
    color: #666666;
    margin: 10px 0;
}

.product h3 {
    font-size: 18px;
    color: #333333;
    margin: 10px 0;
}

.product:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

footer {
    background-color: #4e4e32;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}

.valen_footer {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.valen_footer:hover {
    color: #a3a36a;
}